.idea/
PokemonBDSPTypeAnalyzer/.vs/
**/__pycache__
CSharpTools/.vs/
CSharpTOols/DecompiledAssemblySourcesTool/bin/
CSharpTOols/DecompiledAssemblySourcesTool/obj/
PokemonTypeMovesetAnalyzer/obj/
PokemonTypeMovesetAnalyzer/bin/
CSharpTools/PdbSourcesDownloader/bin/
CSharpTools/PdbSourcesDownloader/obj/
PokemonTypeMovesetDataTool/obj/
PokemonTypeMovesetDataTool/bin/
PokemonTypeMovesetAnalyzer/.vs/
PokemonTypeMovesetAnalyzer/PokemonTypeMovesetAnalyzer.csproj.user
PokemonTypeMovesetDataTool/Properties/launchSettings.json
PokemonTypeMovesetAnalyzer/Data/html/pokemon-list-base-stats.xlsx
PokemonTypeMovesetAnalyzer/PokemonTypeMoveset.Analyzer.csproj.user
**/.vs/
**/bin
**/obj
PokemonTypeMovesetTools/PokemonTypeMoveset.DataTool/Properties/launchSettings.json
PokemonTypeMovesetTools/PokemonTypeMoveset.Analyzer/VioletScarletMoves.xlsx
PokemonTypeMovesetTools/PokemonTypeMoveset.Analyzer/PokemonTypeMoveset.Analyzer.csproj.user
PokemonTypeMovesetTools/PokemonTypeMoveset.Analyzer/Data/html/pokemon-list-base-stats.html
PokemonTypeMovesetTools/PokemonTypeMoveset.Analyzer/Data/html/pokemon-list-base-stats.xlsx
PokemonTypeMovesetTools/PokemonTypeMoveset.Analyzer/Data/html/pokemon-list-base-stats.json
PokemonTypeMovesetTools/PokemonTypeMoveset.Analyzer/Data/json/Goodra.json
PokemonTypeMovesetTools/PokemonTypeMoveset.Analyzer/Data/html/pokemon-list.json
PokemonTypeMovesetTools/PokemonTypeMoveset.Analyzer/Data/csv/VioletScarletMoves.csv
PokemonTypeMovesetTools/PokemonTypeMoveset.Analyzer/Data/csv/Goodra.csv
